#body-bg{
  background-color: rgb(247, 235, 235)
}
.col{
background-color: azure; 
border-radius: 20px; 
border: 1px solid gold;
margin:0 auto;
margin-bottom:10px;
padding: 30px;

}
#error{
  display:none;
  color:red;
  text-align: center;
}
.phone-details{
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid darkorange;
}
.img-style{
  text-align: center;
  margin: 0 auto;
  width: 350px;
  height: 300px;
  padding: 20px;
  
}
